<div class="nk-main">


  <div class="container">
    <h2 class="nk-decorated-h-3"><span>Saved Articles</span></h2>
    <div class="nk-gap-2"></div>

    <!-- START: Products Filter -->
    <form action="." method="get">
      <div class="row vertical-gap">
        <div class="col-lg-4">
          <div class="input-group">
            <input name="search" type="text" class="form-control" placeholder="Type something...">
            <button type="submit" class="nk-btn nk-btn-color-main-1"><span class="ion-search"></span>
            </button>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row vertical-gap">
            <div class="col-md-4">
              <select name="condition" class="form-control">
                <option value="" disabled="" selected="">Select Condition</option>
<!--                {% for c in conditions %}-->
<!--                <option value="{{ c.0 }}"-->
<!--                        {% if form.condition == c.0 %}selected{% endif %}>{{ c.1 }}</option>-->
<!--                {% endfor %}-->
              </select>
            </div>
            <div class="col-md-8">
              <div class="nk-input-slider-inline">
                <div class="nk-input-slider">
                  <div class="nk-input-slider-content text-white">
                    PRICE:
                    <strong class="text-main-1"><span
                      class="nk-input-slider-value-0">200</span> €</strong>
                    -
                    <strong class="text-main-1"><span
                      class="nk-input-slider-value-1">1200</span> €</strong>
                  </div>
                  <div class="nk-input-slider-input">
                    <input type="text" name="price" data-slider-min="0"
                           data-slider-max="1800" data-slider-step="1"
                           data-slider-tooltip="hide"
                           data-slider-value="[0, 500]"
                           data-value="0,500"
                           value="0,500" style="display: none;">
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="float-right my-3">
            <button type="submit" class="mx-2 d-inline nk-btn nk-btn-rounded nk-btn-color-white">Apply
            </button>
            <a href="#"
               class="mx-2 d-inline nk-btn nk-btn-rounded nk-btn-lg nk-btn-color-dark-3 w-100">
              Clear
            </a>
          </div>
          <div class="clearfix"></div>
        </div>

      </div>
    </form>
    <div class="nk-gap-2"></div>
    <!-- END: Products Filter -->

    <!-- START: Products -->
    <div class="row vertical-gap">
      <div class="col-lg-6" *ngFor="let a of articles">
        <app-rich-article-renderer [article]="a"></app-rich-article-renderer>
      </div>
    </div>
    <!-- END: Products -->

    <!-- START: Pagination -->
<!--    {% if page_obj.paginator.num_pages > 1 %}-->
<!--    <div class="nk-gap-3"></div>-->
<!--    <div class="nk-pagination nk-pagination-center">-->
<!--      {% if page_obj.has_previous %}-->
<!--      <a href="?{% param_replace page=page_obj.previous_page_number %}"-->
<!--         class="nk-pagination-prev">-->
<!--        <span class="ion-ios-arrow-back"></span>-->
<!--      </a>-->
<!--      {% endif %}-->
<!--      <nav>-->
<!--        {% if page_obj.has_previous %}-->
<!--        <a href="?{% param_replace page=1 %}">1</a>-->
<!--        {% if page_obj.previous_page_number > 1 %}-->
<!--        <span>...</span>-->
<!--        <a href="?{% param_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>-->
<!--        {% endif %}-->
<!--        {% endif %}-->
<!--        <a class="nk-pagination-current"-->
<!--           href="{{ request.get_full_path }}">{{ page_obj.number }}</a>-->
<!--        {% if page_obj.has_next %}-->
<!--        {% if page_obj.next_page_number < page_obj.paginator.num_pages %}-->
<!--        <a href="?{% param_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>-->
<!--        <span>...</span>-->
<!--        {% endif %}-->
<!--        <a href="?{% param_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>-->
<!--        {% endif %}-->
<!--      </nav>-->
<!--      {% if page_obj.has_next %}-->
<!--      <a href="?{% param_replace page=page_obj.next_page_number %}"-->
<!--         class="nk-pagination-next">-->
<!--        <span class="ion-ios-arrow-forward"></span>-->
<!--      </a>-->
<!--      {% endif %}-->
<!--    </div>-->
<!--    {% endif %}-->
    <!-- END: Pagination -->

  </div>

  <div class="nk-gap-2"></div>


</div>
