<div class="nk-main">


  <div class="container">
<!--    {% if user_not_found %}-->
    <app-error-box>User not Found: the requested user does not exist.</app-error-box>
<!--    {% else %}-->

    <h2 class="nk-decorated-h-3 mb-0">
      <span>{{ myself ? 'My' : user?.username }} Articles</span>
    </h2>

    <div id="onsale"></div>
    <div class="nk-gap-4"></div>

    <h3 class="nk-decorated-h-2"><span>On Sale</span></h3>
    <div class="nk-gap-1"></div>

    <!-- START: Articles On Sale -->
    <div class="row vertical-gap" *ngIf="articlesOnSale && articlesOnSale.length !== 0; else noneOnSale">
      <div class="col-lg-6" *ngFor="let a of articlesOnSale">
        <!--TODO: add input arguments that receives a boolean that decides whether the
          child component should have a delete button -->
        <app-rich-article-renderer [article]="a"></app-rich-article-renderer>
      </div>
    </div>
    <ng-template #noneOnSale>
      <div style="height:150px; display:flex;">
        <div style="margin: auto; font-weight: bold;">
          {{ myself ? 'You have no articles on sale...'
          : 'This user has no articles on sale...' }}
        </div>
      </div>
    </ng-template>
    <!-- END: Articles On Sale -->

    <div id="soldout"></div>
    <div class="nk-gap-4"></div>

    <h3 class="nk-decorated-h-2"><span>Sold Out</span></h3>
    <div class="nk-gap-1"></div>

    <!-- START: Articles Sold -->
    <div class="row vertical-gap" *ngIf="articlesSold && articlesSold.length !== 0; else noneSold">
      <div class="col-lg-6" *ngFor="let a of articlesSold">
        <app-rich-article-renderer [article]="a"></app-rich-article-renderer>
      </div>
    </div>
    <ng-template #noneSold>
      <div style="height:150px; display:flex;">
        <div style="margin: auto; font-weight: bold;">
          {{ myself ? 'You have no articles on sale...'
          : 'This user has no articles on sale...' }}
        </div>
      </div>
    </ng-template>
    <!-- END: Articles Sold -->

    <div *ngIf="myself">
      <div id="purchased"></div>
      <div class="nk-gap-4"></div>

      <h3 class="nk-decorated-h-2"><span>Purchased</span></h3>
      <div class="nk-gap-1"></div>

      <!-- START: Articles Purchased -->
      <div class="row vertical-gap" *ngIf="articlesPurchased && articlesPurchased.length !== 0; else nonePurchased">
        <div class="col-lg-6" *ngFor="let a of articlesPurchased">
          <app-rich-article-renderer [article]="a"></app-rich-article-renderer>
        </div>
      </div>
      <ng-template #nonePurchased>
        <div style="height:150px; display:flex;">
          <div style="margin: auto; font-weight: bold;">
            You have no articles purchased...
          </div>
        </div>
      </ng-template>
      <!-- END: Articles Purchased -->
    </div>

  </div>

  <div class="nk-gap-2"></div>


</div>
