<div [ngSwitch]="active[0]">
  <app-game-form *ngSwitchCase="State.CREATE_GAME" [(state)]="active">
  </app-game-form>
  <app-console-form *ngSwitchCase="State.CREATE_CONSOLE" [(state)]="active">
  </app-console-form>
  <app-game-form *ngSwitchCase="State.EDIT_GAME" [articleId]="article.id" [gameId]="active[1]" [(state)]="active">
  </app-game-form>
  <app-console-form *ngSwitchCase="State.EDIT_CONSOLE" [articleId]="article.id" [consoleId]="active[1]" [(state)]="active">
  </app-console-form>
  <div *ngSwitchDefault>

    <h4 class="mb-0"><span class="text-main-1" style="padding-left: 0.95em">&nbsp;Step #1</span></h4>
    <div class="nk-gap-2"></div>
    <form>
      <div class="form-group row">
        <label for="items" class="col-sm-2 col-form-label">Items</label>
        <div class="col-sm-10">
          <ul id="items" class="list-group">
              <li class="list-group-item" *ngIf="(!games || games.length == 0) && (!consoles || consoles.length == 0)">
                Add an item...
              </li>
              <li class="list-group-item" *ngFor="let i of article.items_in_article">
                {{ i.name }}
                <ng-template *ngIf="i|isGame; else isConsole">
                  <button type="button" class="btn btn-secondary mt-2" (click)="active = [State.EDIT_GAME, i.id]">
                    Edit Game</button>&nbsp;
                  <button type="submit" class="btn btn-secondary mt-2" name="del" value="{{ i.id }}">Delete Game</button>
                </ng-template>
                <ng-template #isConsole>
                  <button type="button" class="btn btn-secondary mt-2" (click)="active = [State.EDIT_CONSOLE, i.id]">
                    Edit Console</button>&nbsp;
                  <button type="submit" class="btn btn-secondary mt-2" name="del" value="{{ i.id }}">Delete Console</button>
                </ng-template>
              </li>
          </ul>
          <button type="button" class="btn btn-secondary mt-2" (click)="active = [State.CREATE_GAME, undefined]">
            Add Game</button>
          <button type="button" class="btn btn-secondary mt-2" (click)="active = [State.CREATE_CONSOLE, undefined]">
            Add Console</button>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputCost" class="col-sm-2 col-form-label">Cost</label>
        <div class="col-sm-10">
          <input class="form-control" id="inputCost" placeholder="{{ totalPrice }}" readonly>
        </div>
      </div>

      <div class="nk-gap-1"></div>

      <div class="form-group row">
        <div class="offset-sm-10 col-sm-2 text-center">
          <button class="nk-btn nk-btn-color-dark-3" (click)="stepChange.emit(!step)">Next Step</button>
        </div>
      </div>
    </form>

  </div>
</div>
