<div class="form-padding-2">
  <h3><span><span class="text-main-1">Sign</span> Up</span></h3>
  <div class="nk-gap-1"></div>

  <form [formGroup]="signupForm" (ngSubmit)="signup()">
    <div class="form-group">
      <label for="username">Username:</label>
      <input id="username" formControlName="username" type="text" value="" class="form-control">
      <div *ngFor="let e of error?.error.username">
        <a href="#" class="error">{{ e }}</a>
      </div>
    </div>
    <div class="form-group form-row">
      <div class="col">
        <label for="firstName">First Name:</label>
        <input id="firstName" formControlName="firstName" type="text" value="" class="form-control">
        <div *ngFor="let e of error?.error.first_name">
          <a href="#" class="error">{{ e }}</a>
        </div>
      </div>
      <div class="col">
        <label for="lastName">Last Name:</label>
        <input id="lastName" formControlName="lastName" type="text" value="" class="form-control">
        <div *ngFor="let e of error?.error.last_name">
          <a href="#" class="error">{{ e }}</a>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input id="email" formControlName="email" type="email" value="" class="form-control">
      <div *ngFor="let e of error?.error.email">
        <a href="#" class="error">{{ e }}</a>
      </div>
    </div>
    <div class="form-group form-row">
      <div class="col">
        <label for="password1">Password:</label>
        <input id="password1" formControlName="password1" type="password" value="" class="form-control">
        <div *ngFor="let e of error?.error.password1">
          <a href="#" class="error">{{ e }}</a>
        </div>
      </div>
      <div class="col">
        <label for="password2">Confirm Password:</label>
        <input id="password2" formControlName="password2" type="password" value="" class="form-control">
        <div *ngFor="let e of error?.error.password2">
          <a href="#" class="error">{{ e }}</a>
        </div>
      </div>
    </div>
    <div *ngFor="let e of error?.error.global">
      <a href="#" class="error">{{ e }}</a>
    </div>

    <div class="nk-gap-1"></div>
    <div class="row vertical-gap">
      <div class="col-md-6">
        <button type="submit"
                class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-block"
                name="signup">Sign Up
        </button>
      </div>
      <div class="col-md-6">
        <div class="mnt-5">
          <small><a routerLink="/login">Already have an account? Log in</a></small>
        </div>
      </div>
    </div>


  </form>
</div>
