<div class="signup-padding">
  <h3><span><span class="text-main-1">Sign</span> Up</span></h3>
  <div class="nk-gap-1"></div>

  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username:</label>
      <input id="username" formControlName="username" type="text" value="" class="form-control">
<!--      {% if form.username.errors %}-->
<!--      {% for error in form.username.errors %}-->
<!--      <li><a href="#" class="error">{{ error|escape }}</a></li>-->
<!--      {% endfor %}-->
<!--      {% endif %}-->
    </div>
    <div class="form-group form-row">
      <div class="col">
        <label for="firstName">First Name:</label>
        <input id="firstName" formControlName="firstName" type="text" value="" class="form-control">
<!--        {{ form.first_name.help_text|safe }}-->
      </div>
      <div class="col">
        <label for="lastName">Last Name:</label>
        <input id="lastName" formControlName="lastName" type="text" value="" class="form-control">
<!--        {{ form.last_name.help_text|safe }}-->
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input id="email" formControlName="email" type="email" value="" class="form-control">
<!--      {% if form.email.errors %}-->
<!--      {% for error in form.email.errors %}-->
<!--      <li><a href="#" class="error">{{ error|escape }}</a></li>-->
<!--      {% endfor %}-->
<!--      {% endif %}-->
    </div>
    <div class="form-group form-row">
      <div class="col">
        <label for="password1">Password:</label>
        <input id="password1" formControlName="password1" type="password" value="" class="form-control">
      </div>
      <div class="col">
        <label for="password2">Confirm Password:</label>
        <input id="password2" formControlName="password2" type="password" value="" class="form-control">
<!--        {% if form.password2.errors %}-->
<!--        {% for error in form.password2.errors %}-->
<!--        <li><a href="#" class="error">{{ error|escape }}</a></li>-->
<!--        {% endfor %}-->
<!--        {% endif %}-->
      </div>
    </div>

    <div class="nk-gap-1"></div>
    <div class="row vertical-gap">
      <div class="col-md-6">
        <button type="submit"
                class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-block"
                name="signup">Sign Up
        </button>
      </div>
      <div class="col-md-6">
        <div class="mnt-5">
          <small><a href="#">Already have an account? Log in</a></small>
        </div>
      </div>
    </div>
  </form>
</div>
