<!--<div class="signup-padding">-->
<!--  <h3><span><span class="text-main-1">Sign</span> Up</span></h3>-->
<!--  <div class="nk-gap-1"></div>-->

<!--  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">-->
<!--    <div class="form-group">-->
<!--      <label for="username">Username:</label>-->
<!--      <input id="username" formControlName="username" type="text" value="" class="form-control">-->
<!--&lt;!&ndash;      {% if form.username.errors %}&ndash;&gt;-->
<!--&lt;!&ndash;      {% for error in form.username.errors %}&ndash;&gt;-->
<!--&lt;!&ndash;      <li><a href="#" class="error">{{ error|escape }}</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;      {% endfor %}&ndash;&gt;-->
<!--&lt;!&ndash;      {% endif %}&ndash;&gt;-->
<!--    </div>-->
<!--    <div class="form-group form-row">-->
<!--      <div class="col">-->
<!--        <label for="firstName">First Name:</label>-->
<!--        <input id="firstName" formControlName="firstName" type="text" value="" class="form-control">-->
<!--&lt;!&ndash;        {{ form.first_name.help_text|safe }}&ndash;&gt;-->
<!--      </div>-->
<!--      <div class="col">-->
<!--        <label for="lastName">Last Name:</label>-->
<!--        <input id="lastName" formControlName="lastName" type="text" value="" class="form-control">-->
<!--&lt;!&ndash;        {{ form.last_name.help_text|safe }}&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label for="email">Email:</label>-->
<!--      <input id="email" formControlName="email" type="email" value="" class="form-control">-->
<!--&lt;!&ndash;      {% if form.email.errors %}&ndash;&gt;-->
<!--&lt;!&ndash;      {% for error in form.email.errors %}&ndash;&gt;-->
<!--&lt;!&ndash;      <li><a href="#" class="error">{{ error|escape }}</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;      {% endfor %}&ndash;&gt;-->
<!--&lt;!&ndash;      {% endif %}&ndash;&gt;-->
<!--    </div>-->
<!--    <div class="form-group form-row">-->
<!--      <div class="col">-->
<!--        <label for="password1">Password:</label>-->
<!--        <input id="password1" formControlName="password1" type="password" value="" class="form-control">-->
<!--      </div>-->
<!--      <div class="col">-->
<!--        <label for="password2">Confirm Password:</label>-->
<!--        <input id="password2" formControlName="password2" type="password" value="" class="form-control">-->
<!--&lt;!&ndash;        {% if form.password2.errors %}&ndash;&gt;-->
<!--&lt;!&ndash;        {% for error in form.password2.errors %}&ndash;&gt;-->
<!--&lt;!&ndash;        <li><a href="#" class="error">{{ error|escape }}</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;        {% endfor %}&ndash;&gt;-->
<!--&lt;!&ndash;        {% endif %}&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="nk-gap-1"></div>-->
<!--    <div class="row vertical-gap">-->
<!--      <div class="col-md-6">-->
<!--        <button type="submit"-->
<!--                class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-block"-->
<!--                name="signup">Sign Up-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="col-md-6">-->
<!--        <div class="mnt-5">-->
<!--          <small><a href="#">Already have an account? Log in</a></small>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->

<div style="text-align:center">
  <h1>
    Signup
  </h1>
</div>

<input #username type='text' placeholder='username'>
<input #email type='text' placeholder='email'>
<input #password1 type='password' placeholder='password1'>
<input #password2 type='password' placeholder='password2'>
<button (click)="signup(username.value, email.value, password1.value, password2.value)">signup</button>
<p>{{ error?.message }}</p>
<p *ngIf="error">{{ error?.error | json }}</p>
