<div class="nk-main">
  <div class="container">

    <!-- START: Image Slider -->
    <div class="nk-image-slider" data-autoplay="8000">

      <div class="nk-image-slider-item">
        <img src="assets/images/slide-1.jpg" alt="" class="nk-image-slider-img"
             data-thumb="assets/images/slide-1-thumb.jpg">

        <div class="nk-image-slider-content" style="opacity: 1;">
          <h3 class="h4">Discover your long time desired games</h3>
          <p class="text-white">Our website provides a huge and diverse collection of games.</p>
        </div>
      </div>

      <div class="nk-image-slider-item">
        <img src="assets/images/slide-2.jpg" alt="" class="nk-image-slider-img"
             data-thumb="assets/images/slide-2-thumb.jpg">

        <div class="nk-image-slider-content" style="opacity: 1;">
          <h3 class="h4">Make money out of your unused games</h3>
          <p class="text-white">It's simple are really intuitive, register in our platform and start selling.</p>
        </div>
      </div>

      <div class="nk-image-slider-item">
        <img src="assets/images/slide-3.jpg" alt="" class="nk-image-slider-img"
             data-thumb="assets/images/slide-3-thumb.jpg">
      </div>

      <div class="nk-image-slider-bg"
           style="background-image: url('assets/images/slide-4.jpg');"></div>
      <div class="nk-image-slider-bg-transition"
           style="background-image: url('assets/images/slide-4.jpg'); opacity: 0; transform: matrix(1, 0, 0, 1, 0, 0); z-index: -2;"></div>
      <div class="nk-image-slider-content" style="opacity: 1;">
        <div class="nano has-scrollbar">
          <div class="nano-content" tabindex="0" style="right: -15px;">
            <h3 class="h4">At length one of them called out in a clear</h3>
            <p class="text-white">TJust then her head struck against the roof of the hall: in fact she
              was now more than nine feet high...</p>
            <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-hover-color-main-1">Read
              More</a>
          </div>
          <div class="nano-pane" style="display: none;">
            <div class="nano-slider" style="height: 293px; transform: translate(0px, 0px);"></div>
          </div>
        </div>
      </div>
      <div class="nk-image-slider-thumbs"
           style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
        <ul style="transform: matrix(1, 0, 0, 1, -393.75, 0);">

          <li class="" style="background-image: url('assets/images/slide-3-thumb.jpg');">
            <div class="nk-image-slider-thumbs-overlay"></div>
          </li>
          <li class="nk-image-slider-thumbs-active"
              style="background-image: url('assets/images/slide-4-thumb.jpg');">
            <div class="nk-image-slider-thumbs-overlay"></div>
          </li>
          <li class="" style="background-image: url('assets/images/slide-5-thumb.jpg');">

            <div class="nk-image-slider-thumbs-count">6</div>
          </li>
        </ul>
      </div>
    </div>
    <!-- END: Image Slider -->

    <!-- START: Store -->
    <div class="nk-gap-4"></div>
    <h3 class="nk-decorated-h-2"><span>Store</span></h3>
    <div class="nk-gap"></div>

    <div class="row">
      <div class=" offset-lg-2 col-sm-12 col-lg-8 ">
        <div class="nk-widget">
          <div class="nk-widget-content">
            <form action="/articles" method="get" class="nk-form nk-form-style-1"
                  novalidate="novalidate">
              <div class="input-group">
                <input type="text" name="search" class="form-control"
                       placeholder="Type something..." value="">
                <button type="submit" name="submit_search"
                        class="nk-btn nk-btn-color-main-1"><span
                  class="ion-search"></span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="nk-gap-3"></div>

    <!-- START: Categories -->
    <app-view-games-filter [selected]="selectedPlatform"></app-view-games-filter>
    <!-- END: Categories -->

    <!-- END: Store -->


    <!-- START: Most Popular -->
    <div class="nk-gap-4"></div>
    <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Most</span> Popular</span></h3>
    <div class="nk-gap"></div>
    <div class="row vertical-gap">

<!--      {% for a in popular_articles %}-->
<!--      <div class="col-lg-4 col-md-6">-->
<!--        <div class="nk-product-cat">-->
<!--          <a class="nk-product-image" href="{% url 'article_details' a.id %}">-->
<!--            <img src="{% item_img_path a.items_in_article.all.0.id %}" alt="{{ a.name }}">-->
<!--          </a>-->
<!--          <div class="nk-product-cont">-->
<!--            <h3 class="nk-product-title h5"><a-->
<!--              href="{% url 'article_details' a.id %}">{{ a.name }}</a></h3>-->
<!--            <div class="nk-gap-1"></div>-->
<!--            <div class="nk-product-rating" data-rating="{% article_rating a.id %}"></div>-->
<!--            ({% user_reviews_number a.id %})-->
<!--            <div class="nk-gap-1"></div>-->
<!--            <div class="nk-product-price">{{ a.total_price }} €</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      {% endfor %}-->

    </div>
    <!-- END: Most Popular -->

  </div>
</div>

