<div class="nk-product-cat">
  <a class="nk-product-image" href="/articles/details/{{ article.id }}">
    <img src="{{ articleImage }}" alt="{{ article.name }}">
  </a>
  <div class="nk-product-cont">
    <h3 class="nk-product-title h5">
      <a href="/articles/details/{{ article.id }}">{{ article.name }}</a>
    </h3>
    <div class="nk-gap-1"></div>
    <div>
      <div #rating class="nk-product-rating" [attr.data-rating]="userRating"></div>
      ({{ userReviewsNum }})
    </div>
    <div class="nk-gap-1"></div>
    <div class="nk-product-price">{{ article.total_price }} €</div>
    <div class="nk-gap-1"></div>

<!--    {% if user.is_authenticated %}-->
<!--    <form action="." method="post">-->
<!--      {% csrf_token %}-->
<!--      <input name="add_cart" value="{{ a.id }}" hidden>-->
<!--      <button type="submit" class="nk-btn nk-btn-rounded nk-btn-color-dark-3">Add to Cart</button>-->
<!--    </form>-->
<!--    {% endif %}-->
  </div>
</div>
