<div class="row vertical-gap">
  <div class="col-lg-4" *ngFor="let p of platforms">
    <div class="nk-feature-1" [style.border]="selected == p[0]? '1px solid #dd163b': ''">
      <div class="nk-feature-icon">
        <img src="assets/images/icon-platform-{{ p[0] }}.png" alt="{{ p[1] }}">
      </div>
      <div class="nk-feature-cont">
        <h3 class="nk-feature-title"><a routerLink="/articles/store/{{ p[0] }}">{{ p[1] }}</a></h3>
        <h3 class="nk-feature-title text-main-1"><a routerLink="/articles/store/{{ p[0] }}">View Games</a></h3>
      </div>
    </div>
  </div>
</div>
