<div class="signup-padding">
  <h3><span><span class="text-main-1">Settings</span></span></h3>
  <div class="nk-gap-1"></div>

  <div class="nk-box-2 bg-dark-2">
    <form action="." method="post">
<!--      <div class="form-group">-->
<!--        {{ form.old_password.label_tag }}-->
<!--        {{ form.old_password }}-->
<!--        {% if form.old_password.errors %}-->
<!--        {% for error in form.old_password.errors %}-->
<!--        <li><a href="#" class="error">{{ error|escape }}</a></li>-->
<!--        {% endfor %}-->
<!--        {% endif %}-->
<!--      </div>-->
<!--      <div class="form-group form-row">-->
<!--        <div class="col">-->
<!--          {{ form.new_password1.label_tag }}-->
<!--          {{ form.new_password1 }}-->
<!--        </div>-->
<!--        <div class="col">-->
<!--          {{ form.new_password2.label_tag }}-->
<!--          {{ form.new_password2 }}-->
<!--          {% if form.new_password2.errors %}-->
<!--          {% for error in form.new_password2.errors %}-->
<!--          <li><a href="#" class="error">{{ error|escape }}</a></li>-->
<!--          {% endfor %}-->
<!--          {% endif %}-->
<!--        </div>-->
<!--      </div>-->

      <div class="nk-gap-1"></div>
      <div class="row vertical-gap justify-content-end">
        <div class="col-md-5">
          <button type="submit" class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-block">
            Change Password
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
